/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 1; font-family: Roboto, "Helvetica Neue", sans-serif; min-width: 640px; min-height: 480px;}