<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="an web interface of instance">
    <meta name="author" content="huangjien@gmail.com">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>Configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  media="all" type="text/css" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Configuration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/scripts">Test <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <table class="table table-hover table-striped">
        <thead>
            <th class="col-1" scope="col">Key</th>
            <th class="col-11" scope="col">Value</th>
        </thead>
        <tbody>
        <tr th:each="key : ${config.keySet()}">
            <td class="col-1" th:text="${key}"></td>
            <td class="col-11" th:text="${config.get(key)}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>