<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="an web interface of instance">
    <meta name="author" content="huangjien@gmail.com">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  media="all" type="text/css" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Test Script</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/exec">Test <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <form th:action="@{/result}" method="post">

        <button type="button" onclick="setStartBrowser()" class="btn btn-info ">Start Browser</button>
        <button type="button" onclick="setCloseBrowser()" class="btn btn-info ">Close Browser</button>
        <button type="button" onclick="setGetAll()" class="btn btn-info ">Get Test Objects</button>
        <button type="submit" class="btn btn-primary  float-right">Test Script</button>
        <br>
        <textarea class="form-control" name="testScript" id="testScript" required rows="23"></textarea>
    </form>
</div>
<script type="text/javascript">
    function setStartBrowser() {
        var content = "{\"action\": \"StartBrowser\",\"id\": \"StartBrowser\"}";
        setTestScript(content);
    }
    function setCloseBrowser() {
        var content = "{\"action\": \"CloseBrowser\",\"id\": \"CloseBrowser\"}";
        setTestScript(content);
    }
    function setGetAll() {
        var content = "{\"action\": \"GetAll\",\"id\": \"GetAll\"}";
        setTestScript(content);
    }

    function setTestScript(scriptContent) {
        document.getElementById('testScript').value = scriptContent;

    }
</script>
</body>
</html>