<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="main" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>

  </button>
  <mat-menu #main="matMenu">
    <button mat-menu-item routerLink="/script">Script</button>
    <button mat-menu-item routerLink="/result">Result</button>
    <button mat-menu-item routerLink="/configuration">Configuration</button>
    <button mat-menu-item routerLink="/">About</button>
  </mat-menu>





  <span>automation-test</span>
  <span class="spacer"></span>
  <mat-icon class="icon" aria-hidden="false" matTooltip="Upload Scripts" aria-label="Upload Scripts">cloud_upload</mat-icon>
  <mat-icon class="icon" aria-hidden="false" matTooltip="Download Results" aria-label="Download Results">cloud_download</mat-icon>

</mat-toolbar>

