<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="main" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #main="matMenu">
    <button mat-menu-item ><a class="no-line" href="/script">Script</a></button>
    <button mat-menu-item [matMenuTriggerFor]="manage">Manage</button>
    <button mat-menu-item [matMenuTriggerFor]="create">Create</button>
  </mat-menu>

  <mat-menu #manage="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="scripts">Scripts</button>
    <button mat-menu-item [matMenuTriggerFor]="instances">Instances</button>
    <button mat-menu-item [matMenuTriggerFor]="results">Results</button>
    <button mat-menu-item>General Search</button>
  </mat-menu>

  <mat-menu #create="matMenu">
    <button mat-menu-item>Suite</button>
    <button mat-menu-item>Case</button>
    <button mat-menu-item>Object</button>
    <button mat-menu-item>Data</button>
    <button mat-menu-item>Project</button>
    <button mat-menu-item>Folder</button>
  </mat-menu>

  <mat-menu #scripts="matMenu">
    <button mat-menu-item>My Scripts</button>
    <button mat-menu-item>New Scripts (last 3 days)</button>
    <button mat-menu-item>Scripts with Problem</button>
    <button mat-menu-item><a class="no-line" href="/scripts">All Scripts</a></button>
    <button mat-menu-item>Scripts Dashboard</button>
  </mat-menu>

  <mat-menu #instances="matMenu" >

    <button mat-menu-item>Running Instances</button>
    <button mat-menu-item>Failed Instances</button>
    <button mat-menu-item>Idle Instances</button>
    <button mat-menu-item><a class="no-line" href="/instances">All Instances</a></button>
  </mat-menu>

  <mat-menu #results="matMenu">
    <button mat-menu-item>Last 24 Hours</button>
    <button mat-menu-item>Last 3 Days</button>
    <button mat-menu-item>Un-handled</button>
    <button mat-menu-item ><a class="no-line" href="/results">All Results</a></button>
    <button mat-menu-item>Results Dashboard</button>
  </mat-menu>
  <span>automation-test</span>

</mat-toolbar>

